* {
  margin: 0;
  padding: 0;
}

html * {
  font-family: 'Noto Sans', sans-serif;
}

body {
  background-color: #999999;
}

button {
  border: 2px solid transparent;
  color: black;
  padding: 8px 12px;
  width: 100px;
}

button:enabled {
  background-color: #c7c7c7;
  cursor: pointer;
}

button:enabled:hover {
  border: 2px solid #242424;
}

button:disabled {
  background-color: #777777;
  cursor: not-allowed;
}

h3 {
  margin-bottom: 4px;
}

table {
  background-color: #b2b2b2;
  border-collapse: collapse;
  width: 100%;
}

table,
th,
td {
  border: none;
}

video {
  background-color: #444444;
}

#dataCollection {
  display: flex;
  gap: 1%;
  justify-content: center;
  margin: 8px auto;
}

#videoContainer {
  display: flex;
  justify-content: space-evenly;
  width: 350px;
}

.buttonsDiv {
  display: flex;
  flex-direction: column;
}

#classesButtons {
  justify-content: space-between;
}

#sampleCounts {
  display: flex;
  flex-direction: column;
}

#sampleCounts table {
  flex-grow: 1;
}

#sampleCounts td {
  padding-left: 8px;
  padding-right: 8px;
}

.count {
  text-align: right;
}

#resultsContainer {
  display: flex;
  gap: 5%;
  justify-content: center;
  margin: 8px auto;
}

.buttonsAndPanel {
  display: flex;
  gap: 5%;
}

.buttonsAndPanel button {
  margin-bottom: 8px;
}

#modelResults {
  display: flex;
  flex-direction: column;
  gap: 5%;
  width: 300px;
  height: 400px;
}

#modelResults th,
#modelResults td {
  text-align: center;
}

#modelResults th {
  background-color: #444444;
  color: white;
  font-weight: normal;
}

#trainMessage,
#predictMessage {
  text-align: justify;
}

#tableContainer {
  max-height: 62%;
  overflow-y: auto;
}

#resultsTable th {
  position: sticky;
  top: 0;
}

#predictionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  height: 220px;
}

#predictionText {
  font-size: large;
  font-weight: bold;
  text-align: center;
}

#predictionImage {
  width: 120px;
  height: 120px;
}
